<div class="gridster-cnt" ng-click="openChannelSelectBlade()">
    <div class="cnt-inner" ng-if="channel">
        <ul class="menu __inline __pinned">
            <li class="menu-item"><a cass="menu-link" ng-click="evaluate(); $event.stopPropagation();"><i class="menu-ico fa fa-refresh"></i></a></li>
        </ul>
        <div class="list __info form-group">
            <div class="list-count" ng-bind="(completenessPercent | number:0) + '%'"></div>
            <div class="list-t form-label">{{ 'catalog-publishing.widgets.catalog-publishing.title' | translate }}</div>
            <ui-select required ng-model="channel.id" append-to-body="true" on-select="changeChannel()">
                <ui-select-match>{{ $select.selected.name }}</ui-select-match>
                <ui-select-choices repeat="x.id as x in channels">
                    <span ng-bind-html="x.name"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="cnt-inner">
        <div class="list-t">{{ 'catalog-publishing.widgets.catalog-publishing.no-channels-message' | translate }}</div>
    </div>
</div>