<div class="blade-static __bottom" ng-include="'$(Platform)/Scripts/common/templates/create.tpl.html'" ng-if="blade.isNew"></div>
<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block clearfix">
            <form class="form list __info" name="formChannel">
                <div ng-init="setForm(formChannel)">
                    <div class="form-group">
                        <label class="form-label" ng-bind="'catalog-publishing.blades.channel-details.labels.name' | translate"></label>
                        <div class="form-input">
                            <input name="Name" placeholder="{{ 'catalog-publishing.blades.channel-details.placeholders.enter-value' | translate }}" required="required" type="text" ng-model="blade.currentEntity.name" ng-pattern="/^[a-zA-Z0-9_]*$/">
                            <div class="error" ng-show="formChannel.$dirty && formChannel.Name.$invalid && formChannel.Name.$error.pattern" ng-bind="'catalog-publishing.blades.channel-details.labels.name-pattern-error-message' | translate">{{  }}</div>
                            <div class="list-descr" ng-bind="'catalog-publishing.blades.channel-details.labels.name-description' | translate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">
                            {{ 'catalog-publishing.blades.channel-details.labels.languages' | translate }} <a href="" ng-click="openLanguagesDictionarySettingManagement()" class="form-edit" va-permission="platform:setting:update"><i class="form-ico fa fa-pencil"></i></a>
                        </label>
                        <div class="form-input" data-role="input-control">
                            <ui-select required multiple ng-model="blade.currentEntity.languages">
                                <ui-select-match placeholder="{{ 'catalog-publishing.blades.channel-details.placeholders.languages' | translate }}">{{$item}}</ui-select-match>
                                <ui-select-choices repeat="x in languages | filter: $select.search">
                                    <span ng-bind-html="x | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div class="list-descr" ng-bind="'catalog-publishing.blades.channel-details.labels.languages-description' | translate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">
                            {{ 'catalog-publishing.blades.channel-details.labels.currencies' | translate }} <a href="" ng-click="currencyUtils.editCurrencies(blade)" class="form-edit"><i class="form-ico fa fa-pencil"></i></a>
                        </label>
                        <div class="form-input" data-role="input-control">
                            <ui-select required multiple ng-model="blade.currentEntity.currencies">
                                <ui-select-match placeholder="{{ 'catalog-publishing.blades.channel-details.placeholders.currencies' | translate }}">{{$item.code}}</ui-select-match>
                                <ui-select-choices repeat="x.code as x in currencies | filter: $select.search">
                                    <span ng-bind-html="x.code | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div class="list-descr" ng-bind="'catalog-publishing.blades.channel-details.labels.currencies-description' | translate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" ng-bind="'catalog-publishing.blades.channel-details.labels.catalog' | translate"></label>
                        <div class="form-input">
                            <ui-select required ng-model="blade.currentEntity.catalogId">
                                <ui-select-match placeholder="{{ 'catalog-publishing.blades.channel-details.placeholders.catalog' | translate }}">{{ $select.selected.name }}</ui-select-match>
                                <ui-select-choices repeat="x.id as x in catalogs | filter: { name: $select.search }">
                                    <span ng-bind-html="x.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div class="list-descr" ng-bind="'catalog-publishing.blades.channel-details.labels.catalog-description' | translate"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" ng-bind="'catalog-publishing.blades.channel-details.labels.evaluator' | translate"></label>
                        <div class="form-input">
                            <ui-select required ng-model="blade.currentEntity.evaluatorType">
                                <ui-select-match placeholder="{{ 'catalog-publishing.blades.channel-details.placeholders.evaluator' | translate }}">{{ $select.selected }}</ui-select-match>
                                <ui-select-choices repeat="x in evaluators">
                                    <span ng-bind-html="x | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <div class="list-descr" ng-bind="'catalog-publishing.blades.channel-details.labels.evaluator-description' | translate"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>